    <hr class="footer">
      <div id="cv-footer">
        &copy; un service <a href="http://epite.ch/">{Epite.ch}</a> 2013 <b> --- </b> D&eacute;couvrez le petit-fr&ecirc;re underground de CVs {Epite.ch}, <a href="http://slaves.epite.ch">Slaves of {Epite.ch}</a>.
      </div>
    </div>
  </body>
</html>
