    <hr class="footer">
      <div id="slave-footer">
        © Dream Leaves / {Epite.ch} 2013
        <strong>---</strong>
        A joint project between <a href="http://dreamleaves.org/">Dream Leaves</a> and <a href="http://epite.ch/">{Epite.ch}</a>
        <br>
        Information scraping: <a href="mailto:lequeu_m@epitech.net">Martin 'iMart1n' Lequeux-Gruninger</a>
        <strong>---</strong>
        Server & layout: <a href="mailto:rouyer_a@epitech.net">Arnaud 'red' Rouyer</a>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39092929-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
