    <hr class="footer">
      <div id="slave-footer">
        © Dream Leaves / {Epite.ch} 2013
        <strong>---</strong>
        A joint project between <a href="http://dreamleaves.org/">Dream Leaves</a> and <a href="http://epite.ch/">{Epite.ch}</a>
        <br>
        Information scraping: <a href="mailto:lequeu_m@epitech.net">Martin 'iMart1n' Lequeux-Gruninger</a>
        <strong>---</strong>
        Server & layout: <a href="mailto:rouyer_a@epitech.net">Arnaud 'red' Rouyer</a>
      </div>
    </div>
  </body>
</html>
