    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
            CVs {Epite.ch}
          </a>
          <ul class="nav">
            <li>
              <a href="/about">
                &Agrave; propos
              </a>
            </li>
            <li>
              <a href="/random">
                Roulette
              </a>
            </li>
            <li>
              <a href="/how-to">
                Comment faire ?
              </a>
            </li>
            <li>
              <a href="/contact">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
