    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
            Les CVs d'{Epite.ch}
          </a>
          <ul class="nav">
            <li>
              <a href="/a-propos">
                A propos
              </a>
            </li>
            <li>
              <a href="/roulette">
                Roulette
              </a>
            </li>
            <li>
              <a href="/comment-faire">
                Comment faire ?
              </a>
            </li>
            <li>
              <a href="/contact">
                Contactez-nous
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
