<% var title = "How to use" %>
<% include partials/header %>
<% include partials/menu %>
      <div class="hero-unit">
        <h1 class="profile-title">
          Comment déposer mon profil?
        </h1>
        <div class="row">
          <div class="span6">
            <h4>Exemple de fichier .cv:</h4>
            <div><small>(Passez la souris sur une ligne pour voir son utilisation)</small></div>
<pre class="cvfile"><span key="picture">picture=http://perso.epitech.eu/~rouyer_a/rouyer_a.png</span>

<span key="[social]">[social]</span>
<span key="twitter">twitter=joshleaves</span>
<span key="github">github=joshleaves</span>
<span key="email">email=josh.guthrie@gmail.com</span>
<span key="linkedin">linkedin=http://www.linkedin.com/in/arnaudrouyer</span>
<span key="gplus">gplus=https://plus.google.com/100992466097396687731/</span>
<span key="facebook">facebook=theres.no.use.in.username</span>
<span key="portfolio">portfolio=http://dreamleaves.org/</span>
<span key="viadeo">viadeo=</span>

<span key="[description]">[description]</span>
<span key="lastjob">lastjob="Rad Engine Developer" for HangPic</span>
<span key="favorites">favorites=nodejs,mongodb,ejs,bootstrap</span>
<span key="about">about=I love servers, I love mashups, I love APIs, I love node.js, I love javascript,... Right now I am developing the HangPic game API. Come play against us!</span>
<span key="projects">projects=MapsTube|http://mapstube.dreamleaves.org,VisitHere,EpiLOL|http://lol.epite.ch,HangPic|http://hangpic.com/</span>
</pre>
          </div>
          <div class="span4">
            <h4>Explication:</h4>
            <div id="hints">
              <h5 id="hints-title">Le fichier .cv</h5>
              <div id="hints-text" style="text-align:justify;">
                ...
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
	var pre			= document.getElementsByTagName('pre')[0];
	var spans		= pre.getElementsByTagName('span');
	var hintsTitle	= document.getElementById('hints-title');
	var hintsText	= document.getElementById('hints-text');
	var hints = {
		'default': '<p>Toutes les informations affichées sur votre profil public sont prises de votre fichier .cv, lequel est interprété comme un fichier .ini standard.</p><p>Une fois que votre fichier .cv est rempli avec les informations que vous voulez donner, placez-le dans votre dossier /www/ (sur l\'AFS) et passez-nous un curl:</p><p><code>curl cv.epite.ch --data login=yourlogin</code></p><p>Vous obtiendrez alors un message vous informant du succès de l\'opération.</p>',
		'picture': '<p>Un lien vers votre photo (200x240px) afin de vous prsenter.</p><p>Si ce champ n\'est pas renseigné, votre photo de profil sera votre photo {Epitech} par défaut.</p>',
		'social': '<p>Cette section contient les liens vers vos profils sur les réseaux sociaux.</p><p>Si vous ne possédez pas de compte pour l\'un de ces réseaux, retirez juste le combo clé/valeur correspondant.</p><p>Attention: Retirer le header "[social]" empêchera le parseur de reconnaître les clés/valeurs suivantes.</p>',
		'twitter': '<p>Votre pseudo Twitter.</p><p>Rien de plus simple :)</p>',
		'github': '<p>Votre pseudo GitHub.</p><p>Quoi de plus facile? ;)</p>',
		'email': '<p>L\'email sur lequel vous voulez être contacté.</p><p>Si ce champ n\'est pas renseigné, votre email {Epitech} par défaut (login_x@epitech.net) sera donné à la place.</p>',
		'linkedin': '<p>Votre profil LinkedIn.</p><p>Entrez l\'url complète vers votre profil.</p>',
		'gplus': '</p>Votre profil Google+.</p><p>Entre l\'url complète vers votre profil.</p>',
		'facebook': '<p>Votre pseudo Facebook.</p><p>Si vous n\'avez pas de pseudo, rentrez votre ID d\'utilisateur.</p>',
		'portfolio': '<p>Votre espace personnel.</p><p>Votre portfolio, votre blog,... Faites-vous plaisir!</p>',
		'viadeo': '<p>Votre profil Viadeo</p>Entre l\'url complètre vers votre profil.</p>',
		'description': '<p>Cette section contient vos informations.</p><p>Comme pour [social], retirer le header "[description]" empêchera le parseur de prendre en compte correctement les sous-clés correspondantes.</p>',
		'lastjob': '<p>Dites-nous en plus sur votre dernier emploi (ou l\'actuel!)</p>',
		'favorites': '<p>Les technologies que vous aimez.</p><p>Séparez-les par des virgules et soyez "tag-friendly" (genre "nodejs" pour "Node.JS"), la future fonction de recherche par "tags" vous remerciera ;)</p>',
		'about': '<p>Soyez fous!</p></p>Lâchez-vous et dites au monde pourquoi vous êtes LE développeur que tout lde monde voudrait embaucher!</p>',
		'projects': '<p>Vos projets.</p><p>Une liste de vos projets, ça fait toujours son petit effet! Le pattern est plutôt simple: séparez vos projets par des virgules et (optionnellement) ajoutez un "|" suivi d\'une url pour lier à ce projet. Exemple:</p><p><code>nom du projet|url,un second projet sans url</code></p>'
	};

	showHints('default')();
	pre.addEventListener('mouseout', showHints('default'), false);
	for (var i = 0; i < spans.length; ++i) {
		var key = spans[i].getAttribute('key');
		spans[i].addEventListener('mouseover', showHints(key), false);
	};

	function showHints (key) {
		var type = 'L\'attribut "';
		if (key[0] === '[') {
			type = 'La section "';
			key = key.substr(1, key.length - 2);
		}
		var title = type + key + '"';
		if (key === 'default') {
			title = 'Le fichier .cv';
		}
		return function () {
			hintsTitle.innerHTML = title;
			hintsText.innerHTML = hints[key];
		};
	};
</script>

<% include partials/footer %>
