<% var title = "Contactez-nous" %>
<% include partials/header %>
<% include partials/menu %>

<ul>
  <li><a href="https://epite.ch/">http://epite.ch/</a></li>
  <li><a href="https://github.com/epite-ch">https://github.com/epite-ch</a></li>
</ul>

<% include partials/footer %>
