<% var title = "Trouvez votre nouveau stagiaire !"; %>
<% include partials/header %>
<% include partials/menu %>
      <div class="hero-unit">
        <div>
          <h1>
            Vous recherchez un nouveau d&eacute;veloppeur ?
          </h1>
          <p>
            Vous &ecirc;tes fatigu&eacute;s de ces recherches qui n'aboutissent jamais ?
            <br/>
            <br/>
            Les CVs {Epite.ch} sont l&agrave; pour vous !
          </p>
        </div>
        <a class="btn btn-primary" href="/roulette">
          Je veux juste voir un d&eacute;veloppeur
        </a>
      </div>
      <div class="row">
        <div class="span4">
          <div>
            <h2>
              C'est quoi ?
            </h2>
            <p>
              Ce service est destin&eacute; aux startups et aux compagnies qui veulent renouveler l'exp&eacute;rience ou d&eacute;couvrir les &eacute;l&egrave;ves d'{Epitech}.<br />
              Le d&eacute;veloppement est fait par les étudiants et est ouvert aux contributions.<br />
              <i>CVs {Epite.ch} n'est pas un service officiel d'Epitech.</i>
            </p>
          </div>
        </div>
        <div class="span4">
          <div>
            <h2>
              Pourquoi ?
            </h2>
            <p>
              De plus en plus d'entreprises et particulièrement les startups demandent de nouveaux profils {Epitech}.<br />
              Il n'existait pas encore de service publique spécialisé dans cette niche.
            </p>
          </div>
        </div>
        <div class="span4">
          <div>
            <h2>
              Comment ?
            </h2>
            <p>
              Les étudiants de l'{Epitech} voulant apparaitre sur le site doivent remplir eux-m&ecirc;me leur profil.<br />
              Les questions sont prédéfinies afin d'avoir une réponse concise.<br />
            </p>
          </div>
        </div>
      </div>
<% include partials/footer %>
