<% var title = "Find your new intern!"; %>
<% include partials/header %>
<% include partials/menu %>
      <div class="hero-unit">
        <div>
          <h1>
            Looking for a new developer?
          </h1>
          <p>
            Tired of looking through endless profiles in the desperate hunt for your
            new developer?
            <br>
            <br>
            Slaves of {Epite.ch} is there for you!
          </p>
        </div>
        <a class="btn btn-primary" href="/random">
          Just get me a coder »
        </a>
      </div>
      <div class="row">
        <div class="span4">
          <div>
            <h2>
              What
            </h2>
            <p>
              Slaves of {Epite.ch} is aimed at startups and companies who are
              specifically looking for {Epitech} students to hire as developers.
              It is built by an {Epitech} student as a hobby using various
              technologies such as <a href="http://nodejs.org/">node.js</a>, <a href="http://embeddedjs.com/">ejs</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>
          </div>
        </div>
        <div class="span4">
          <div>
            <h2>
              Why?
            </h2>
            <p>
              Most of the startups I ran into were continually asking me for a
              new intern and asking me who among my friends would be fit for the
              job. I built this site to help them (and various others) get rid
              of the middle-man and find their one in a million.
            </p>
          </div>
        </div>
        <div class="span4">
          <div>
            <h2>
              How?
            </h2>
            <p>
              Students from {Epitech} fill an information file which is used to
              fill up their own "profiles" on this website. Thus, you are a
              hundred percent sure that every profile here does want to be
              contacted for a job offer :)
            </p>
          </div>
        </div>
      </div>
<% include partials/footer %>
