a:hover { text-decoration: none; }
a i { font-size: 14px; text-align: center; }
.myicon { width: 24px; }
#social { padding-top: 5px; padding-left: 30px; }
.user-photo { text-align: center; }
.user-photo-name { margin-top: -263px; height: 240px; text-align:center; }
.user-photo-promo { margin-top: -28px; text-align:center; }
.span6 p { margin-top: -10px; }
.container div h1.profile-title { margin-left: 84px; margin-bottom: 20px; font-size: 42px; }
